@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    /* box-shadow: 0 10px 20px rgba(5, 30, 168, 0.35);*/
    box-shadow: 0 0 25px rgb(4, 21, 170);
    border: 1px solid rgb(142, 152, 241);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    z-index: 0;
    
}
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.container button{
    background-color: #265df2;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.btn{
    position: relative;
    width: 70%;
    height: 45px;
    background: transparent;
    border: 2px solid transparent;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#1c4aca,rgb(145, 173, 235),#1c4aca,rgb(145, 173, 235));
    z-index: -1;
    transition: .5s; 
    
}
.btn:hover::before{
    top: 0;
}
.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}


.container form{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border-bottom: #666;
}
.container input:focus,.container input:valid{
  
    border-bottom: 2px solid rgb(180, 186, 247);

}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.social-icons a:hover{
    background-color: #b5c4eb;
}


.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #041c5c;
    height: 100%;
    background: linear-gradient(to right, #7b89dd, #0e37a7);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    background-color: #031138;
    height: 100%;
    background: linear-gradient(to left, #7b89dd, #0e37a7);
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
i#m {
    position: absolute;
    right: 50px;
    top: 57.3%;
    transform: translateY(-50%);
    font-size: 20px;
    color : gray;
}
 i#p{
     position: absolute;
    right: 50px;
    top: 47%;
    transform: translateY(-50%);
    font-size: 20px;
    color : gray;
}
  
input:focus + i#p,
input:valid + i#p {
   color: #7b89dd;
}

input:focus + i#m,
input:valid + i#m {
   color: #7b89dd;
}

.form-container h1{
color : #666;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    filter: blur(5px);
}
    .cl1{
        position: relative;
        top: 4px;
        margin-left: 19cm;
        color: gray;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
     }
     #close2{
        position: relative;
        top: -20%;
        margin-left: 8.9cm;
        color: gray;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
     }
     #close2:hover{
        background-color: #ccc;
        border-radius: 50px;
     }
    
      .error-message {
        color: red;
      }
      .custom-alert {
        /* Ajoutez ici vos styles personnalisés pour l'alerte */
      background-color: #265df2;
      color: white;
      margin-bottom: 570%;
    }
    
      
     
    
