

/*.sun{
    background-image: url(../site/girl.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 15cm;
    border-radius: 20px;
    font-family: poppins; 
   
}*/
.sun{
    background-image: url(../site/girls_espace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 15cm;
    border-radius: 20px;
    font-family: poppins; 
   
}
.sun h6 {
    width: 45%;
    margin-top: 0cm;
    color: rgb(102, 80, 7);
    font-family: poppins;
    margin-left:   55%;

}
.sun p {
    width: 40%; /* Utilisation d'un pourcentage pour la largeur */
    color: rgb(247, 249, 252);
    text-align: justify;
    line-height: 2; /* Espacement entre les lignes */
    margin-left:   57%;
}

/*.sun h6 {
    width: 45%;
    margin-top: 1cm;
    color: rgb(233, 211, 15);
    font-family: poppins;
    margin-left: 11.4cm;
}*/
/*.sun p {
    color: rgb(248, 245, 245); 
    text-align: justify;
    line-height: 3; /* Espacement entre les lignes 
}*/
@media screen and (max-width: 768px) {
    .sun {
        width: 90%;
        padding-top: 2rem;
    }

    .sun h3 {
        width: auto; /* Réinitialiser la largeur */
    }

    .sun p {
        width: auto;
        text-align: left; /* Aligner le texte à gauche pour éviter le justifié qui peut causer des décalages */
    }
}

.promotion{
    background-color: white;
}
.content{
    background-color: rgb(248, 239, 153);
}
.buy{
    background-color: rgb(235, 138, 60);
}
.liste {
    list-style: none;
    padding: 0;
    margin: 2px;
    background-color: transparent;
    overflow: hidden; /* Pour cacher le débordement */
}

.liste li {
    float: left; /* Pour aligner les éléments horizontalement */
    
}

.liste li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #4b2e03;
    font-size: large;
    font-family: poppins;
}

.liste li a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Arrière-plan au survol */
    border-radius: 20px;
    color: rgb(236, 242, 247);
}


.link-arrow:first-child {
    display: inline-block;
    padding: 10px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;
}

.link-arrow:last-child {
    display: inline-block;
    padding: 10px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;
}

.link-arrow:first-child:hover {
    background-color: #ccc; /* Changer la couleur de fond au survol */
    color: #fff; /* Changer la couleur du texte au survol */
    transform: translateX(-10px); /* Déplacer la première flèche de 10px vers la gauche au survol */
}

.link-arrow:last-child:hover {
    background-color: #ccc; /* Changer la couleur de fond au survol */
    color: #fff; /* Changer la couleur du texte au survol */
    transform: translateX(10px); /* Déplacer la deuxième flèche de 10px vers la droite au survol */
}

.link-arrow i:first-child {
    margin-right: 10px; /* Ajouter un espacement entre le texte et l'icône */
}

.link-arrow i:last-child {
    margin-left: 10px; /* Ajouter un espacement entre le texte et l'icône */
}

.pagination {
    text-align: center;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination ul li {
    display: inline-block;
    margin-right: 5px;
}

.pagination ul li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.pagination ul li a:hover {
    background-color: #ddd;
}
.swiper {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin-top: 20px;
  }

  .swiper-slide {
    font-size: 18px;
    color: #a5a0a0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }
  .pagination-container {
    margin-top: 20px; /* Ajustez cette valeur selon vos besoins */
    margin-bottom: 20px; /* Ajustez cette valeur selon vos besoins */
  }